@mixin text-style($size, $weight) {
  font-size: #{$size}px;
  font-weight: $weight;
}

.text12_500 {
  @include text-style(12, 500);
}

.text14_400 {
  @include text-style(14, 400);
}

.text14_500 {
  @include text-style(14, 500);
}

.text14_700 {
  @include text-style(14, 700);
}

.text15_700 {
  @include text-style(15, 700);
}

.text15_900 {
  @include text-style(15, 900);
}

.text20_700 {
  @include text-style(20, 700);
}

.text20_900 {
  @include text-style(20, 900);
}

.oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiLine {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--lines);
  line-clamp: var(--lines);
  overflow: hidden;
}
