.root {
  overflow: auto;
}

.horizontal {
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.hideScrollbar {
  scrollbar-width: none;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.locked {
  overflow: hidden;
}

.content {
  display: block;
}

.horizontalContent {
  display: flex;
}

.item {
  flex: 0 0 auto;
}

.dragEnabled {
  cursor: grab;
  user-select: none;
}

.dragging {
  cursor: grabbing;
  scroll-behavior: auto;
}
